apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  namespace: flask-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: maqsoodbangash/flask-kind
        ports:
        - containerPort: 5000

